* {
    maring: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header {
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
main {
    margin-top: 20%;
}
.h1 {
    text-align: center;
    font-size: small;
    color: white;
}
.navbar {
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logobong {
    display: flex;
    justify-content: center;

}
.logobong1 {
    display: flex;
    justify-content: center;
}
.centro {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: stretch;
    justify-content: center;
    margin: 0 auto;
}
.center {
    display: flex;
    justify-content: center;
    background-color: lightgray;
}
.container {
    font-weight: bold;
    display: flex;
    justify-content: end;
}
.section2 {
    display: flex;
    align-self: center;
}
.container nav {
    display: flex;
    column-gap: 1rem;
    justify-items: end;
}
.h1portada {
    width: auto;
    height: auto;
    display: flex;
    align-content: center;
}
.log4 {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
}
.banner {
    width: max-content;
}

.prenda-img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    object-fit: cover;
}
.grilla {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    justify-content: center;
    gap: 3.125rem;
}
.card {
    width: 100%;
    height: 100%;
    background-color: white;
}
.boxtext {
    font-size: 30px;
    padding: .3125rem;
    margin: 5px;
    font-weight: bolder;
}
.prendas {
    width: auto;
    height: auto;
    display: flex;
    object-fit: cover;
    flex-direction: column;
    justify-content: space-between;
}
.prenda-info {
    background-color: rgb(255, 255, 255);
    font-weight: lighter;
    margin-left: 30px;
}
.articulo {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0px;
    margin: 10px;
    font-family: sans-serif;
}
.prenda-info ul li {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
    margin-left: 4%;
}
.sectioninfo {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.sectioninfotext {
    width: 100%;
    display: flex;
    justify-content: center;
}
.sectioninfotext a {
    margin-top: 25px;
}
.devoluciones p {
    font-weight: bolder;
}
.span {
    font-weight: lighter;
}
.button {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 350px 350px;
    column-gap: 70px;
    justify-content: center;
    margin-bottom: 80px;
}
.img-boton {
    display: grid;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}
.boton {
    margin-top: 80px;
    border-radius: 23px;
    border: none;
}
.img-somos {
    display: flex;
    justify-content: center;
    height: 120px;

}
.quienessomos p {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}
.texto-somos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
}
footer {
    background-color: black;
}
.sectionfooter {
    display: flex;
    justify-content: center;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif font-size: medium;
    font-weight: bolder;
    gap: 150px;
    width: 100%;
    height: 70%;
}
.footer1 {
    list-style: none;
    margin: 50px;
    text-decoration: none;
    margin-left: 10%;
    color: white;
}
.footer2 {
    list-style: none;
    margin: 50px;
    margin-left: 10%;
    color: white;
}
.footer3 {
    list-style: none;
    margin: 50px;
    margin-left: 10%;
    color: white;
}
.footerimg {
    display: flex;
    margin-left: 15%;
    padding: 10px;
    padding-top: 50px;
}

@media screen and (max-width: 375px) {
    .center {
        display: flex;
        justify-content: center;
        max-width: 100%;
        overflow: hidden;
    }
  
    .buscar {
       height: auto;
       width: 100px;
    }
    .logobong1 {
        display: flex;
        justify-content: center;
        max-width: 100%;
        overflow: hidden;
    }
    .container {
        display: flex;
        justify-content: start;
        max-width: auto;
        max-height: 100%;
        overflow: hidden;
    }
    .navbar {
         flex-direction: column;

    }
    .centro{
        display: flex;
        justify-content: stretch;
        justify-content: center;
        width: 480px;
    }
    .button {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .boton {
        display: flex;
        justify-content: center;
    }
    .sectionfooter {
        justify-content: start;
        flex-direction: column;
        gap: 0px;
    }
    .sectioninfo{
        display: flex;
        justify-content: center;
        max-width: max-content;
    }
    .sectioninfotext{
        display: grid;
        justify-content: center;
    }
    .sectioninfotext a{
        display: flex;
        justify-content: center;
    }
    .sectioninfotext img{
        display: flex;
        justify-content: center;
        margin-left: 40%;
    }
}

