*{
    maring: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.container, .section, .sectionfooter, .centro {
    overflow: hidden;
}

.h1{
    text-align: center;
    font-size: small;
    color: white;
    }
.logobong{
    display: flex;
    justify-content: center;

}
.centro{
    
    display: block;
    margin: 0 auto;
}
.section{
    justify-items: center;
}

.center{
    display: flex;
    justify-content: center;
    background-color: lightgray;
    position: sticky;
}
.container{
        font-weight: bold;
        display: flex;
        justify-content: end;
    }

.section2{
    display: flex;
    align-self: center;
}
.container nav{
    display: flex;
    column-gap: 1rem;
    justify-items: end;
}

.h1portada{
    width: auto;
    height: auto;
    display: flex;
    align-content: center;
}
.log4{
    display: flex;
    justify-content:space-between;
    align-content: flex-start;
    flex-wrap: wrap;
}


.banner{
    width: max-content;
}

.grilla{
    display: grid;
    grid-template-columns: 450px 450px;
    justify-content: center;
    gap: 3.125rem;
}
.card{
    width: 100%;
    height: 100%;
    background-color: lightgray;
}

.grilla1{
    display: grid;
    grid-template-columns: 450px 450px;
    justify-content: center;
    gap: 3.125rem;
}
.card1{
    width: 100%;
    height: 100%;
    background-color: lightgray;
}



.boxtext{
    font-size: 30px;
    padding: .3125rem;
    margin: 5px;
    font-weight: bolder;
}
.prendas{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.prenda-info{
    background-color: lightgray;
    font-weight:lighter
}

.span{
    color: blue;
}
.sectionfooter{
    background-color: black;
    color: wheat;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.sectioninfo{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.sectioninfotext{
    width: 100%;    
    height: 100%;
    display: flex;
    justify-content: stretch;
    height: 100px;
    
}

.button{
    display: grid;
    grid-template-columns: 865px 865px ;
    grid-template-rows: auto 550px ;
    column-gap: 16px;
    row-gap: .625rem;
    justify-content: center;
}

.img-boton{
    display: grid;
    border-radius: 20px;
    width: auto;
    height: auto;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}
.boton{
    border-radius: 25px;
}

.texto-somos1{
    display: flex;
    justify-content: center;
}
.texto-somos{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
}
.img-somos{
    width: 100px;
    height: 150px;
    display: block;
}
