* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header {
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
main {
    margin-top: 20%;
    margin-bottom: 5%;
}
.center .h1{
    text-align: center;
    font-size: 13px;
    color: white;
    margin-top: 7px;
}
.logobong {
    display: flex;
    justify-content: center;

}
.logobong1 {
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
    background-color: lightgray;
}
.centro div{
    display: flex;
    justify-content: center;
}
.container {
    font-weight: bold;
    display: flex;
    justify-content: end;
}
.section2 {
    display: flex;
    align-self: center;
}
.container nav {
    display: flex;
    column-gap: 1rem;
    justify-items: end;
}
.container nav a{
    text-decoration: none;
    list-style: none;
    color: black;
}
.h1portada {
    width: auto;
    height: auto;
    display: flex;
    align-content: center;
}
.log4 {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;
}
.banner {
    width: max-content;
}

.prenda-img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    object-fit: cover;
}
.grilla {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    gap: 3.125rem;
}
.card {
    width: 100%;
    height: 100%;
    background-color: white;
}
.boxtext {
    font-size: 30px;
    padding: .3125rem;
    margin: 5px;
    font-weight: bolder;
}
.prendas {
    width: auto;
    height: auto;
    display: flex;
    object-fit: cover;
    flex-direction: column;
    justify-content: space-between;
}
.prenda-info {
    background-color: rgb(255, 255, 255);
    font-size: 13px;
}
.articulo {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0px;
    margin: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.prenda-info ul li {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    list-style: none;
    margin-left: 4%;
}
.prenda-info ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sectioninfo {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.sectioninfotext {
    width: 100%;
    display: flex;
    justify-content: center;
}
.sectioninfotext a {
    margin-top: 25px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
.devoluciones p {
    font-weight: bolder;
}
.span {
    font-weight: lighter;
}
.button {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 350px 350px;
    column-gap: 70px;
    justify-content: center;
    width: auto;
    margin-bottom: 80px;
}

.img-boton {
    display: grid;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}
.boton {
    margin-top: 80px;
    border-radius: 23px;
    border: none;
}
.img-somos {
    display: flex;
    justify-content: center;
}
.quienessomos p {
    padding-top: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}
.texto-somos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
}
footer {
    background-color: black;
}
.sectionfooter ul li a{
    text-decoration: none;
    color: white;
}
.sectionfooter {
    display: flex;
    justify-content: center;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif font-size: medium;
    font-weight: bolder;
    gap: 150px;
    width: 100%;
    height: 70%;
}
.footer1 {
    list-style: none;
    margin: 50px;
    text-decoration: none;
    margin-left: 10%;
    color: white;
}
.footer2 {
    list-style: none;
    margin: 50px;
    margin-left: 10%;
    color: white;
}
.footer3 {
    list-style: none;
    margin: 50px;
    margin-left: 10%;
    color: white;
}
.footerimg {
    display: flex;
    margin-left: 15%;
    padding: 10px;
    padding-top: 50px;
}

@media screen and (max-width: 768px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        justify-content: center;
    }
    .centro{
        margin-top: 80%;
    }
    .center{
        display: flex;
        justify-content: center;
    }
    .logobong{
        display: flex;
        justify-content: center;
    }
    .buscar {
       height: auto;
       width: 100px;
    }
    .container {
        display: flex;
        justify-content: start;
        max-width: auto;
        max-height: 100%;
        overflow: hidden;
    }
    .button .boton{
        display: grid;
        grid-template-columns: 500px;
        column-gap: 1px;
        margin-bottom: 40px;
        background-color: rgba(255, 255, 255, 0);
    }
    .button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }
    .boton {
        display: flex;
        justify-content: center;
    }
    .footerimg{
        display: flex;
        justify-content: center;
    }
    .sectionfooter {
        justify-content: start;
        flex-direction: column;
    }
    .sectioninfotext{
        display: flex;
        width: max-content;
    }
    .sectioninfotext a{
        display: flex;
        text-align: center;
    }
    .sectioninfo div img{
        width: 100px;
    }
    .grilla{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 10px;
        max-width: max-content;
        margin-top: 180px;
    }
    .sectionfooter ul li a{
        text-decoration: none;
        color: white;
    }
    footer{
        justify-content: stretch;
    }
    .footerimg{
        display: flex;
        justify-content: center;
    }
    .sectionfooter {
        display: flex;
        justify-content: center;
        background-color: black;
        font-family: Georgia, 'Times New Roman', Times, serif font-size: medium;
        font-weight: bolder;
        gap: 5px;
        width: auto;
        height: auto;
    }
    .footer1 {
        list-style: none;
        margin: 50px;
        text-decoration: none;
        margin-left: 10%;
        color: white;
    }
    .footer2 {
        list-style: none;
        margin: 50px;
        margin-left: 10%;
        color: white;
    }
    .footer3 {
        list-style: none;
        margin: 50px;
        margin-left: 10%;
        color: white;
    }
    .footerimg {
        display: flex;
        margin-left: 15%;
        padding: 10px;
        padding-top: 50px;
    }
}


@media screen and (max-width: 480px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        justify-content: center;
    }
    .nav-item {
        display: flex;
        gap: 7px;
        flex-direction: column;
    }
    .center{
        display: flex;
        justify-content: center;
    }
    .logobong{
        display: flex;
        justify-content: center;
    }
    .buscar {
       height: auto;
       width: 100px;
    }

    .container {
        display: flex;
        justify-content: start;
        max-width: auto;
        max-height: 100%;
        overflow: hidden;
    }
    .button .boton{
        display: grid;
        grid-template-columns: auto;
        column-gap: 1px;
        margin-bottom: 40px;
        background-color: rgba(255, 255, 255, 0);
        width: auto;
    }
    .button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }
    .boton {
        display: flex;
        justify-content: center;
    }
    .footerimg{
        display: flex;
        justify-content: center;
    }
    .sectionfooter {
        justify-content: start;
        flex-direction: column;
        gap: 0px;
    }
    .sectioninfo{
        display: flex;
        justify-content: center;
        max-width: max-content;
        width: 30%;
        margin-left: 35%;
    }
    .sectioninfotext{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .sectioninfotext a{
        display: flex;
        text-align: center;
    }
    .grilla{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 10px;
        max-width: max-content;
        margin-top: 180px;
    }
}
